django==3.2.13
django-crispy-forms
numpy
zmq
pandas
plotly
django-filebrowser
django-sass
django-tinymce
django-picklefield
celery
django-tinymce4-widget
djangorestframework-jwt
django_rest_framework
matplotlib
mysql-connector-python
mysqlclient
gunicorn
tensorflow-gpu
coverage
selenium
fontawesome-free
django-bootstrap3
scipy
scp
jupyter
dash
scikit-image
sqlalchemy
psycopg2-binary
bitstring
tqdm
pyproj
opencv-python
ipympl
psutil
orca
geopy
sklearn
import-ipynb
imblearn
seaborn
pyyaml
django-cors-headers
kaleido
xhtml2pdf
boto3
tqdm
fiftyone
